<!--<md-card>-->
    <form action="">
        <md-input-container class="full-width ">
            <input mdInput placeholder="Your Name" name="userName" [(ngModel)]="userName">
        </md-input-container>
        <md-input-container class="full-width ">
            <textarea mdInput placeholder="Your Comment" name="comment" [(ngModel)]="commentText"></textarea>
        </md-input-container>
            <button color="accent" md-raised-button (click)="addComment(event)">Add Comment</button>
    </form>
<!--</md-card>-->
